@page "/"

<PageTitle>Weather Forecast</PageTitle>

<style>
    .mud-elevation-1 {
    box-shadow: none;
    }

    .split-div {
        justify-content: space-between;
        display: flex;
        margin-bottom: 20px;
    }

    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }

    .centered-div {
        text-align: center;
        margin-bottom: 10px;
        
    }

        .centered-div i {
            font-size: 36px;
        }

        .centered-div span {
            font-size: 18px;
            padding: 10px;
        }

    .list-item-content {
        display: flex;
        justify-content: space-between;
    }

    .right-content {
        margin-left: auto;
    }
</style>

<MudPaper MinHeight="100%" Width="100%">
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Height="100%" Width="100%" Square="true" style="padding:10px;" Class="mud-theme-warning">
            <div style="margin-top: 10px;" class="centered-div">
                <p>@DateTime.Now.ToShortDateString()</p>
            </div>
            <div class="split-div">
                <p class="left">Şuanki Hava Durumu</p>
                <p class="right">23:14</p>
            </div>
            <div class="centered-div">
                <i class="fa-solid fa-cloud-moon-rain"><span></span>7.73°</i>
            </div>
            <div class="centered-div">
                <span>Parçalı Az Bulutlu</span>
            </div>
            
            <MudList Clickable="false">
                <MudListItem>
                    <div class="list-item-content">
                        <span class="left-content">En Düşük Sıcaklık</span>
                        <span class="right-content">7.26°</span>
                    </div>
                </MudListItem>
                <MudDivider />
                <MudListItem>
                    <div class="list-item-content">
                        <span class="left-content">En Yüksek Sıcaklık</span>
                        <span class="right-content">8.09°</span>
                    </div>
                </MudListItem>
                <MudDivider />
                <MudListItem>
                    <div class="list-item-content">
                        <span class="left-content">Nem</span>
                        <span class="right-content">%87</span>
                    </div>
                </MudListItem>
                <MudDivider />
                <MudListItem>
                    <div class="list-item-content">
                        <span class="left-content">Basınç</span>
                        <span class="right-content">1017hPa</span>
                    </div>
                </MudListItem>
                <MudDivider />
                <MudListItem>
                    <div class="list-item-content">
                        <span class="left-content">Rüzgar</span>
                        <span class="right-content">KuzeyDoğu 2.57 m/s</span>
                    </div>
                </MudListItem>
            </MudList>

        </MudPaper>
    </MudContainer>
</MudPaper>
