@inherits LayoutComponentBase

<PageTitle>WeatherForecast.UI</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div> *@
        <MudAppBar Color="Color.Warning" Fixed="false">
            <MudIconButton Icon="@Icons.Material.Filled.WbSunny" Color="Color.Inherit" Edge="Edge.Start" /> Weather Forecast
            <MudSpacer />
        </MudAppBar>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
